body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tela{
    width: 500px;
    height: 300px;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid black;
    position: relative;
    overflow: hidden;
}
.comecar{
    width: 150px;
    line-height: 50px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 75px);
}
.boneco{
    width: 50px;
    height: 50px;
    background-image: url("mario.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    position: absolute;
    bottom: 20px;
    left: 10px;
}
.boneco.pulando{
    animation: bonecoPulando ease-in-out 1 500ms;
}
.parede{
    width: 30px;
    height: 50px;
    background-image: linear-gradient(90deg, rgb(0, 233, 35),rgb(0, 152, 23));
    border: 2px solid black;
    position: absolute;
    left: 100%;
    bottom: 20px;
}
.parede::after{
    content: "";
    width: 40px;
    height: 15px;
    background-image: linear-gradient(90deg, rgb(0, 233, 35),rgb(0, 152, 23));
    border: 2px solid black;
    position: absolute;
    top: -3px;
    left: -7px;
    z-index: 1;
}
.parede.andando{
    animation: paredeAndando linear infinite 1s;
}

.pontos{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 10px;
    right: 10px;
}

@keyframes paredeAndando {
    from{}
    to{left: -50px;}
}
@keyframes bonecoPulando {
    0%{}
    50%{
        bottom: 100px;
    }
    100%{
        bottom: 20px;
    }
}